<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Drop us a line below</h4>

  <form action="/pages/success" method="POST" data-netlify="true" data-netlify-recaptcha="true" netlify-honeypot="bazinga">
    <div class="flex-l mhn1-l">
      <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
          <label for="name">Name</label>
        </fieldset>
      </div>
      <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
      <div style="display: none">
        <fieldset>
          <input type="text" id="bazinga" name="bazinga" class="w-100 mb2">
          <label for="bazinga"></label>
        </fieldset>
      </div>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>

    <div class="ph1-l w-50-l">
      <fieldset>
        <span>Resume (if applicable): </span>
        <label for="Resume">Resume</label>
        <input type="file" id="resume" name="resume" class="w-100 mb2">
      </fieldset>
    </div>

    <div class="flex-ns justify-center-ns mb2" data-netlify-recaptcha="true"></div>

    <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
