<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w4 flex-none">
		<img src="/img/bd885fd1cb96fe45572a4a1e9f44923b.jpg" alt="AllCourse logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
<!--		<li><a href="/products" class="pa3 no-underline db">Products</a></li>-->

<!--		<li><a href="/values" class="pa3 no-underline db">Values</a></li>-->
<!--		<li><a href="/careers" class="pa3 no-underline db">Careers</a></li>-->

<!--		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>-->

		<li><a href="/howitworks" class="f6 pa2 no-underline db nowrap">How It Works</a></li>
		<li><a href="/faq" class="f6 pa2 no-underline db nowrap">FAQ</a></li>
		<li><a href="/teacherhandbook" class="f6 pa2 no-underline db nowrap">Teacher Handbook</a></li>
		<li><a href="/contact" class="f6 pa2 no-underline db nowrap">Contact</a></li>

		<li><div style="vertical-align: middle"><button style="display: inline-block; font-weight: 800; text-align: center; white-space: nowrap; vertical-align: middle; border: 1px solid #007bff; padding: 0.375rem; border-radius: 0.25rem; color: #fff; background-color: #007bff" onclick="window.location.href='https://marketplace.allcourse.com/login'">Log In</button></div></li>
		<li><button onclick="window.location.href='https://marketplace.allcourse.com/register'">Sign Up as Teacher</button></li>
		<li><button onclick="window.location.href='https://marketplace.allcourse.com/customer-register'">Sign Up as School</button></li>
	</ul>

</nav>
