{{ define "main" }}

{{ partial "jumbotron" ( dict "imageUrl" .Params.image "title" .Title) }}

<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    {{ range .Params.sections }}
    <h2 class="f4 b lh-title mb2">{{.heading}}</h2>
      {{ range .questions }}
      <h3 class="f5 b lh-title mb2 ml2">{{.question}}</h3>
        {{ range .answer }}
        {{< rawhtml >}}
        <p class="f6 mb3 mw8 ml4">{{ . }}</p>
        {{< /rawhtml >}}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
